{% extends "base.template.html" %}

{% set title = "Thanks for submitting!" %}
{% set description = "Thanks for your 1% financial support of open source!" %}

{% block content %}
<div class="container flex items-center justify-center flex-grow max-w-4xl px-4 mx-auto">

    <div class="text-center">
        <h1 class="text-4xl font-extrabold">We're processing your information!</h1>
        <p class="mt-8 text-d-brown-800">You'll receive an email once your page is up, or if we have any questions.</p>
        <p class="mt-4 text-d-brown-800">Thanks for your help!</p>
        <a href="/" class="inline-block mt-8 text-blue-600 underline hover:text-blue-700">Back to onepercent.dev</a>
    </div>

</div>
{% endblock %}
